<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicalCentreData</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MedicalCentreData - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>



<html lang="en" class="no-js">
<head>
    <title>Example</title>
    <meta charset="utf-8">          
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/animate.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="./js/modernizr-3.5.0.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg nav-bar navbar-light bg-light">
        <div class="container">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               
                 
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PatientsDatas" asp-action="Index">patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DoctorDatas" asp-action="Index">Doctor Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Attendances" asp-action="Index"> Patients report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AppointmentDatas" asp-action="Index"> Appointments </a>
                        </li>
                    </ul>
                
            </div>
        </div>
    </nav>

    

    </div>
    <div>
        <div class="row aft-banner">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 d-none d-sm-block">
                <div class="g-box">Search your<br><b>Domain Name</b></div>
            </div>
            <div class="col-sm-4">
                <div class="domains">.com $10 | .net $8 | .org $12</div>
                <div class="text-center orange">Bulk Domain Search | Domain Transfer</div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control dark-bg" placeholder="Domain name">
                    <div class="input-group-append">
                        <select class="btn-brop">
                            <option>.com</option>
                            <option>.net</option>
                            <option>.org</option>
                        </select>
                        <button class="btn btn-outline-secondary btn-org" type="button">Go</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="smoke">
        <div class="container" id="fh5co-pricing">

        </div>
    </div>
    
    <div class="smoke">
        <div class="container" id="fh5co-contact">
            <div class="heading animate-box"><h2><b>CONTACT US</b></h2></div>
            <div class="text-center animate-box"><h3>Medical Center Help Center</h3></div>
            <div class="row animate-box">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Email</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Email</label>
                            <textarea class="form-control" rows="5" placeholder="Msg Here"></textarea>
                        </div>
                        <button class="btn btn-banner">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="signup animate-box" id="fh5co-newsletter">
        <div class="text-center"><h2>Sign up to our newsletter for special offers</h2></div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <div class="input-group">
                    <input type="text" class="form-control dark-bg" style="height: 40px;"
                           placeholder="Enter your email address" aria-label="Recipient's username"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-org" style="height: 40px;" type="button">
                            SIGN UP
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dark">
        <div class="container animate-box" id="fh5co-footer">
            <div class="row">
                <div class="col-sm-4">
                    <div><a class="nsavbar-brand" href="#">FreeHTML5 <span class="navbar-brand2"> HOST</span></a></div>
                    <br>
                    <div class="text-white">
                        Get amazing results working with the best programmers, designers, writers and
                        other top online pros. You can hire us with confidence. Get amazing results working with the best
                        programmers
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icons">Explore Our Pages</h3></div>
                    <br>
                    <table width="100%">
                        <tr>
                            <td><a class="text-white" href="#!">Home</a></td>
                            <td><a class="text-white" href="#fh5co-pricing">Hosting</a></td>
                        </tr>
                        <tr>
                            <td><a class="text-white" href="#!">About us</a></td>
                            <td><a class="text-white" href="#!">Faq</a></td>
                        </tr>
                        <tr>
                            <td><a class="text-white" href="#!">Services</a></td>
                            <td><a class="text-white" href="#!">Cart</a></td>
                        </tr>
                        <tr>
                            <td><a class="text-white" href="#!">Shop</a></td>
                            <td><a class="text-white" href="#!">Checkout</a></td>
                        </tr>
                        <tr>
                            <td><a class="text-white" href="#!">Blog</a></td>
                            <td><a class="text-white" href="#fh5co-contact">Contact</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4">
                    <div class="icons">Get in Touch</h3></div>
                    <br>
                    <div>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="darker">
        <div class="container" id="fh5co-legal">
            <div class="row">
                <div class="col-sm-8 text-white mtext-center">
                    &copy; 2018 <a class="text-gr" href="#">FreeHTML5 <span class="navbar-brand2"> HOST</span></a>. Design
                    by <a href="https://freehtml5.co" target="_blank">FreeHTML5</a>.
                </div>
                <div class="col-sm-4 text-white mtext-center">
                    <table>
                        <tr>
                            <td><a class="text-white" href="#!">Legal</a></td>
                            <td><a class="text-white" href="#!">Sitemap</a></td>
                            <td><a class="text-white" href="#!">Privacy Policy</a></td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>-->
    <script src="./js/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <script src="./js/bootstrap.min.js"></script>
    <!--<script src="https://use.fontawesome.com/8e45396e2e.js"></script>-->
    <script src="./js/fontawesome.js"></script>
    <script src="./js/jquery.waypoints.min.js"></script>
    <script src="./js/animate.js"></script>

</body>
</html>
